<!DOCTYPE html>
<html>
<head>
<title>Jogo do Ultimato</title>
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/home.css" rel="stylesheet">
  <script type="text/javascript" src="javascripts/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap-progressbar.js"></script>
  <style type="text/css">
  * {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
  }
  html body {
    height: 100%;
  }
  main {
    width: 100%;
    position: relative;
  }
  footer {
    position: absolute;
    bottom: -400%;
    width: 100%
  }
  img {
    position: absolute;
    margin-left: -3%;
    margin-top: -0.2%;
  }
  </style>
</head>
<body>
<main>
<header>
<div>
 <nav class="navbar navbar-default">
   <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    
 <ul>
    <li id="titulo" class="navbar-header">
      <h2 class="label label-danger">Jogo do Ultimato</h2>
    </li>
    <li>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <form action="/login" method="post" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" name="usuario[login]" placeholder="Login">
        </div>&nbsp;
        <div class="form-group">
          <input type="password" class="form-control" name="usuario[senha]"placeholder="Senha">
        </div>&nbsp;
        <button id="bt_entrar" type="submit" class="btn btn-default">Entrar</button>
      </form>
    </div><!-- /.navbar-collapse -->
    </li>
    </ul>
  </div><!-- /.container-fluid -->
  </nav>
</div>
</header>
<content>
  <div id="cadastrar">
  	<label>
  		<h4>Não possui conta?</h4>
  	</label>
  	<a href="/criar_conta">Clique aqui</a>
  </div>
  <h3 style="text-align: center;"><%= mensagem %></h3>
</content>  
<footer class="progress" id="bar">
   <div class="progress-bar" data-transitiongoal="100" id="barl"> <img src="img/if.jpg"> <label>Instituto de Ciência e Tecnologia do Estado de São Paulo - Campus Caraguatatuba</label></div>
</footer>
</main>
<script>
  $(document).ready(function() {
    $('#bar').css('height', 40);
    $('#barl').children().css('font-size',15);
    //$('.progress-bar').css('background','white');
    $('#barl').children().css('padding-top',10);
    $('#barl').progressbar(function() {
      //transition_delay: 1500000;
    });  // bootstrap 3
  });
</script>
</body>
</html>